{% extends 'base.html' %}
{% block title %}
    <style>
       .heading { color: #FF0000; }
     </style>
    <h1 class="heading">Social Logins</h1>
{% endblock %}
    {% block content %}

    <div class="row">
        <div class="col-md-8 mx-auto social-container my-2 order-md-1">

            <a href="{% url 'social:begin' 'facebook' %}"><button type="button" class="btn btn-primary btn-lg btn-block">Facebook Login</button></a>
            <a href="{% url 'social:begin' 'linkedin-oauth2'  %}"><button type="button" class="btn btn-secondary btn-lg btn-block">LinkedIn Login</button></a>
        </div>
    </div>
    </div>
    {% endblock %}